@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: black;
  font-family: "Outfit", sans-serif;
}

star {
  border-radius: 50%;
  background: white;
  position: absolute;
  animation: star linear infinite;
  @for $i from 1 through 70 {
    &:nth-child(#{$i}) {
      $size: random(6) + 0.25px;
      width: $size;
      height: $size;
      animation-duration: random(30) + 15s;
      animation-delay: random(40) - 40s;
      top: random(101) - 1vh;
    }
  }
}
@keyframes star {
  from {
    transform: translate3d(-100%, 0, 1px);
  }
  to {
    transform: translate3d(100vw, 0, 1px);
  }
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}


.container {
  background: #000 url("img/bg.jpeg") no-repeat center center/cover;
}

.header {
  margin: 2rem 2rem 1rem;
}

.card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  max-width: 30rem;
  background-color: rgba(128, 128, 128, 0.098);
  padding: 1.25rem;
  border-radius: 1%;
  color: white;
  box-shadow: 0px 0px 25px 0px #ffffff8c;

  &__container {
    position: relative;
  }
  &__image {
    width: 100%;
  }

  &__description {
    width: 100%;

    &--title {
      font-size: 1.5rem;
      color: hsl(0, 0%, 100%);
      font-weight: 600;
      padding: 0.25rem;
      cursor: pointer;
    }

    &--subtitle {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      line-height: 1.25rem;
    }

    &--date {
      padding: 0.25rem 0;
      font-weight: 600;
      font-size: medium;
      color: cyan;
    }

    &--button {
      text-transform: uppercase;
        text-decoration: none;
        font-size: 0.8em;
        letter-spacing: 1.5px;
        color: white;
        background-color: transparent;
        cursor: pointer;
        padding: 0.25rem 0.5rem;

      &-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 1rem;
      }
    
      &-reset {
        display: inline-flex;
        height: 40px;
        width: 150px;
        border: 2px solid #bfc0c0;
        margin: 20px 20px 20px 20px;
        color: #bfc0c0;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.8em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }

      &-like {
        height: 38px;
        padding: 0 30px;
        font-size: 11px;
        background-color: transparent;
        border-radius: 6px;
        cursor: pointer;
      }
    }
  }

  #button a {
    position: relative;
    transition: all .45s ease-Out;
  }

  #button:hover a {
    color: #2D3142;
  }
  
}
