* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url('img/bg.jpeg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 5rem;
  }
}
